<h1 mat-dialog-title>Rechercher un festival</h1>
<form [formGroup] = "angForm" (ngSubmit) = "onSubmit()">
<h4>
Nom :
</h4>

  <mat-form-field>
  <mat-label>Entrer le nom du festival</mat-label>
  <input matInput formControlName ="nom_de_la_manifestation">
  </mat-form-field>

  <h4>
  Ville:
  </h4>
    <mat-form-field>
    <mat-label>Entrer la ville</mat-label>
    <input matInput formControlName ="commune_principale">
  </mat-form-field>

  <h4>
  Région :
  </h4>
  <mat-form-field>
  <mat-label>Choisir la région</mat-label>
  <mat-select formControlName ="region">
    <mat-option *ngFor="let uneRegion of region"
      [value]="uneRegion" >
      {{uneRegion}}
    </mat-option>
  </mat-select>
  </mat-form-field>

<h4>
Département :
</h4>
<mat-form-field>
<mat-label>Choisir le département</mat-label>
<mat-select formControlName ="nom_departement">
  <mat-option *ngFor="let unDep of departements"
    [value]="unDep" >
    {{unDep.nom}}
  </mat-option>
</mat-select>
</mat-form-field>

<h4>
Domaine :
</h4>
<mat-form-field>
<mat-label>Entrer le domaine</mat-label>
<mat-select formControlName ="domaine">
  <mat-option *ngFor="let domaine of domaines"
    [value]="domaine" >
    {{domaine}}
  </mat-option>
</mat-select>
</mat-form-field>

<h4>
Mois Début
</h4>
<mat-form-field>
<mat-label>choisir le mois</mat-label>
<mat-select formControlName ="mois_habituel_de_debut">
  <mat-option *ngFor="let unMois of mois"
    [value]="unMois" >
    {{unMois}}
  </mat-option>
</mat-select>
</mat-form-field>

<div>
  <button mat-raised-button>Annuler</button>
  <button mat-raised-button>Valider</button>

</div>
</form>
