<div class="chartDiv" style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
</div>
  <div>
    <form [formGroup] = "formStat" (ngSubmit) = "onSubmit()">
    <mat-form-field>
      <mat-label>choisir le domaine</mat-label>
      <mat-select formControlName ="selectStat">
        <mat-option *ngFor="let stat of typeStat" [value]="stat.value">
          {{stat.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <button mat-raised-button>Valider</button>
    </form>
  </div>
