<mat-grid-list cols="2" rowHeight="100">
  <mat-grid-tile>
      <h1>Festival en France</h1>
    </mat-grid-tile>
  <mat-grid-tile>
    <app-en-tete></app-en-tete>
    </mat-grid-tile>
  </mat-grid-list>
<mat-grid-list cols="2" rowHeight="600">
  <mat-grid-tile>
    <mat-tab-group>
    <mat-tab label="Carte">
      <ng-template matTabContent>
      <app-carte></app-carte>
    </ng-template>
  </mat-tab>
  <mat-tab label="Statistiques">
    <ng-template matTabContent>
      <app-analyse></app-analyse>
  </ng-template>
</mat-tab>
    </mat-tab-group>
  </mat-grid-tile>
  <mat-grid-tile>
      <app-formulaire></app-formulaire>
    </mat-grid-tile>
</mat-grid-list>
<!-- <app-analyse></app-analyse> -->
