<mat-grid-list cols="2" rowHeight="100">
  <mat-grid-tile>
      <h1>Festival en France</h1>
    </mat-grid-tile>
  <mat-grid-tile>
    <app-en-tete></app-en-tete>
    </mat-grid-tile>
  </mat-grid-list>
<mat-grid-list cols="2" rowHeight="600">
  <mat-grid-tile>
    <!-- <mat-tab-group>
  <mat-tab label="carte"><app-carte></app-carte></mat-tab>
  <mat-tab label="stats"> <app-analyse></app-analyse> </mat-tab>
</mat-tab-group> -->
<app-carte></app-carte>
  </mat-grid-tile>
  <mat-grid-tile>
      <app-formulaire></app-formulaire>
    </mat-grid-tile>
</mat-grid-list>
<!-- A Delete -->
<mat-grid-list cols="2" rowHeight="500">
<mat-grid-tile>
  <app-analyse></app-analyse>
</mat-grid-tile>
</mat-grid-list>
