<h2>
Recherche rapide
</h2>
<!-- <form>
<h4>
Domaine
</h4>
<div class="example-container">
<mat-form-field>
  <mat-label>choisir le domaine</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

  <h4>
  Année Création
  </h4>
  <mat-form-field>
  <mat-label>choisir l'année</mat-label>
  <input matInput type="number">
  </mat-form-field>

  <h4>
  Mois Début
  </h4>
  <mat-form-field>
  <mat-label>choisir le mois</mat-label>
  <input matInput type="month">
</mat-form-field>
<div>

  <button mat-raised-button>Annuler</button>
  <button mat-raised-button>Valider</button>

</div>
</div>
</form> -->
